# Database
DATABASE_URL=postgresql://user:password@localhost:5433/postgres?schema=public

# Mongo
MONGO_URI=mongodb://localhost:27017

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200

# Google OAuth
GOOGLE_CALLBACK_URL=<fill-me>
GOOGLE_CLIENT_ID=<fill-me>
GOOGLE_CLIENT_SECRET=<fill-me>

# Auth
JWT_SECRET=<fill-me>
JWT_EXPIRATION_TIME=<fill-me>

# Stripe (test)
STRIPE_SECRET_KEY=<fill-me>
STRIPE_WEBHOOK_KEY=<fill-me>

